<div class="text-center">
  <form class="form-signin">

    <h1 class="h4 mb-2 login">Login do Cliente</h1>

    <label for="inputEmail" class="sr-only">Email</label>

    <input type="email" id="inputEmail"
            name="email" placeholder="Informe seu email"
            class="form-control mb-2"
            [ngClass] = "{
              'is-invalid':email.invalid && (email.dirty || email.touched),
              'is-valid': email.valid && (email.dirty || email.touched)
            }"
            [(ngModel)]="user.email"
            #email="ngModel"
            email
            required
            >

    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        E-mail é de preenchimento obrigatório!
      </div>
      <div *ngIf="email.errors.email">
        E-mail está no formato inválido!
      </div>
    </div>

    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" id="inputSenha"
    name="password" placeholder="Senha"
    class="form-control mb-2"
    #password="ngModel"
    [ngClass] = "{
      'is-invalid':password.invalid && (password.dirty || password.touched),
      'is-valid': password.valid && (password.dirty || password.touched)
    }"
    [(ngModel)]="user.password"
    required
    >

    <div class="invalid-feedback mb-2" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        Senha deve ser preenchida!
      </div>
    </div>

    <button class="btn btn-primary btn-block mb-3" type="submit" (click)="signIn()" [disabled]="activate_spinner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="activate_spinner"></span>
      <span class="sr-only">Loading...</span>
      Entrar
    </button>

    <div>
      Novo por aqui? <a [routerLink]='["/new-user"]'>Cadastre-se</a>
    </div>

    <div class="alert alert-danger" *ngIf="mensagem">
      {{ mensagem }}
    </div>

  </form>
</div>
