.form-signin{
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin:auto;
}

.form-signin input[type="email"]
{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .form-control{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.login{
  color: #666;
}

.borda{
  border:1px solid lightgray;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  border-radius: 1.3em;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
