<h4>
  Lista de ativos mais negociados
</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Simbolo</th>
      <th scope="col">Valor</th>
      <th scope="col">Operacao</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>CMIG4</td>
      <td>26.25</td>
      <td><button type="button" class="btn btn-success">Comprar</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>MGLU3</td>
      <td>43.22</td>
      <td><button type="button" class="btn btn-success">Comprar</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >PETR4</td>
      <td>11.96</td>
      <td><button type="button" class="btn btn-success">Comprar</button></td>
    </tr>
  </tbody>
</table>
