<ng-template #modal>
  <div class="modal-header alert-warning alert-darkblue text-light">
    <h4 class="modal-title" id="modal-basic-title">{{modalConfig.modalTitle}}</h4>
    <button type="button" class="close text-light" aria-label="Close" (click)="dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ng-content></ng-content>

  </div>
  <div class="modal-footer">
    <button type="button"
    class="btn btn-info text-light"
    (click)="close('Save click')"
    *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
    [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton"
    >{{modalConfig.closeButtonLabel}}
  </button>

    <button type="button"
    class="btn btn-info text-light"
    (click)="dismiss('Cancel click')"
    *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
    [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton"
    >
      {{modalConfig.dismissButtonLabel}}
    </button>

  </div>
</ng-template>
